*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{text-decoration:none}

.wrapper{
    max-width: 100%;
    font-family: 'Rubik', sans-serif;
}

.menubar{
    display: flex;
    height: 100px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding :0 20px;
}

.menu-list ul{
    display: flex;
    gap: 25px;
}

.menu-list a{
    color: #000;
}

.slider{
    background-image: url('./img/slider2.jpeg');
    height: 850px;
    position: relative;
}

.desc{
    position: absolute;
    top:50%;
    left:15%;
    transform :translate(0,-50%);
    width: 600px;
}

.desc p{
    color: #5ba760;
    
}

.desc h1{
    font-size: 75px;
    color: #fff;
    margin: 50px 0;
}

.desc a{
    padding: 20px 60px;
    border-radius: 30px;
    background-color:#fff;
    color:#000;
}

/* body */
.body{
    margin-top: 100px;
}


.body1{
    display:flex;
    padding: 0 40px;
    gap: 60px;
}

.body1 p
{
    line-height: 1.6;
    opacity: 0.5;
}

.img{
    animation: updown 3s infinite;
}

.body1 .farm{
    width: 40%;
}

.farm h1{
    font-size: 60px;
    margin-bottom: 30px;
}



.feature{
    margin: 30px 0;
    display:flex;
    gap:30px;
}

.feature p{
    margin-top: 15px;

}

.feature h4{
    font-size: 20px;
}


.body2{
    background-image: url(./img/bg6.jpeg) ;
    background-position: center ; 
    min-height: 500px;
    text-align: center;
    padding: 60px 0;
}

.body2 h3{
    font-size: 60px;
    margin:30px 0;
    font-weight: 500;
}

.body2 > p{
    padding: 0 425px;
    line-height: 2;
    opacity: 0.5;
}

.list-tag-items{
    margin-top: 30px;
    display: flex;
    gap:20px;
    justify-content:space-around;
    padding: 0 80px;
    opacity: 0.8;
}

.tag-list{
    width: calc(100% / 3 - 40px);
    background-color: #fff;
    padding: 40px 30px;

}

.tag-list p {
    margin: 50px 0;
    line-height: 1.6;
    opacity: 0.6;
}

.tag-list h5{
    font-size: 23px;
    margin-top: 30px;
}

.tag-list a { 
    padding: 20px 60px;
    background-color:#daffdc;
    border-radius: 30px;
    color: #000;    
}

.body3{
    position: relative;
}

.imgpos{
    position:absolute;
}


.img1{
    top: 32px;
    left: 32px;
    animation: updown 3s infinite ease;
}

.img2{
    top: 32px;
    right: 32px;
    animation: updown 3s infinite ease;
}

.img3{
    bottom: 32px;
    left: 32px;
    animation: updown 3s infinite ease;

}
.img4{
    bottom: 32px;
    right: 32px;
    animation: updown 3s infinite ease;
}

.list-items-info{
    margin-top: 40px;
    display:flex;
    justify-content: space-around;
    gap: 50px;
    padding:0 20px;
    margin-bottom: 70px;
}

.list-items{
    width: calc(100% /3 );
    padding: 30px 20px;
    background-color:#f1f6fa;
    border-radius: 10px;
}

.list-items h4{
    margin-top: 30px;
}

.list-items i{
    color:#fe6b51;
    margin:20px 0;
}

.btn-view{
    padding: 20px 60px;
    background-color:#ace9b0;
    color:#000;
    border-radius: 30px ;
}


@keyframes updown{
    0%{
        transform: translateY(20px);
        
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform:translateY(20px)
    }
}